<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.0.3" targetFramework="net40" />
  <package id="AutoFixture.AutoMoq" version="3.0.3" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="NUnit.Runners" version="2.6.0.12051" />
  <package id="Uncas.Core" version="1.1.0.154" />
</packages>