<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.0.8" targetFramework="net40" />
  <package id="AutoFixture.AutoMoq" version="3.0.8" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.43" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.43" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="Uncas.Core" version="1.1.0.154" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
  <package id="UnityConfiguration" version="1.4.1" targetFramework="net40" />
</packages>