<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="Autofac.Mvc3" version="2.5.2.830" />
  <package id="Autofac.Web" version="2.5.2.830" />
  <package id="SharpZipLib" version="0.86.0" />
  <package id="System.Data.SQLite" version="1.0.79.0" />
  <package id="Uncas.Core" version="1.1.0.154" />
  <package id="Uncas.Core.External" version="1.1.0.154" />
</packages>